<header id="header">
  <div class="wrapper">
    <nav>
      {% if page.nav != 'home' %}
        <a href=" /">Home</a>
        <a href=" /blog ">Blog</a>
        <a href=" /feed.xml "><i class="fa fa-rss" aria-hidden="true"></i></a>
      {% else %}
        <a href=" # ">Home</a>
        <a href=" #about ">About</a>
        <a href=" #blog ">Blog</a>
        <a href=" #projects">Projects</a>
        <a href=" https://uin-suska.ac.id/">uin suska</a>
      	<a href=" https://sif.uin-suska.ac.id/">sistem informasi</a>
      
      {% endif %}
    </nav>
  </div>
</header>
